{% extends 'base.html' %}

{% block head %} 
{% endblock %}
<title>Home</title>
{% block body %}
 <br>
 <br>
 <h1>This app is getting nicer</h1>
 <br>
 <br>
 <div>
    <div class="bg-light p-5 rounded">
      <div class="col-sm-8 mx-auto">
        <h1>Quick Introduction to what we will do</h1>
        <p>Enjoy the first nice webpage.</p>
        <p>Step-by-step, it will become legendary!</p>
        <p>
          <a class="btn btn-primary" href="/form" role="button">It is here &raquo;</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}